/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}


#closeButton {
  margin: 15px 6px 6px;
}
#login {
	float:left;
	margin-right: 20px;
	} 
#pass { 
	left:190px; 
	top:100px; 
	float:left;
	margin-right: 20px;
	}
#server { 
	left:190px; 
	top:100px; 
	float:left;
	margin-right: 20px;
	}
#connect { 
	left:190px; 
	top:100px; 
		margin-right: 20px;
	}
	#connect2 { 
	background:#4EEE94; 
	left:190px; 
	top:100px; 
		margin-right: 20px;
	}
	#SQLFile {
	float:left;
	height: 350px;
	width: 49%;
	margin-right: 20px;
	}
	#LOGFile {
	float:left;
	background:oldlace; 
		height: 350px;
	width: 49%;
	margin-right: 2px;
	}
	#obertka {
	float:left;
	width:100%;
	background:oldlace; 
	margin-top: 20px;
	}
	#openbutton{
	float:left;
	margin-left: 15px;
	margin-right: 15px;
	}
	#savebutton{
	float:left;
	margin-left: 15px;
	margin-right: 15px;
	}
	#execbutton{
	float:left;
	margin-left: 15px;
	margin-right: 15px;
	}
	

